body {
  margin: 15% auto;
  border: 4px solid black;
  border-radius: 25px;
  padding: 25px 60px;
  min-height: 500px;
  max-width: 50%;
  font-size: larger;
  font-family:Arial, Helvetica, sans-serif ;
}
details p{
    border-radius: 13px;
    border: solid 3px black;
    font-size:large;
    padding: 10px;
    font-family:none;
}
details summary{
    border: none;
    background-color: black;
    color:white;
    padding: 15px;
    border-radius: 15px;
    margin:10px 0px;
}
