.container {
  margin: 25% auto;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  padding: 25px;
  flex-direction: column;
}
p {
  align-self: flex-start;
  margin-bottom: 2px;
  font-size: 15px;
}
input {
  width: calc(100% - 2px);
  height: 22px;
  border-radius: 4px;
  outline: none;
  margin-bottom: 2px;
  border: solid 2px black;
}

.container button {
  width: 100%;
  height: 30px;
  font-family: cursive;
  color: white;
  background: #6b6b6b;
  border: none;
  border-radius: 4px;
  align-self: flex-start;
  transition: all ease-in-out 0.3s;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.776);
  cursor: pointer;
}
button:active {
  background-color: black;
  cursor: pointer;
}
.here{
  align-self: center;
}