* {
  padding: 0;
  margin: 0;
}
.contain {
  width: 50%;
  height: 60vh;
  margin: 18vh auto 0 !important;
  border: 3px solid black;
  border-radius: 20px;
  padding: 50px;
  position: relative;

}
.contain span {
  margin: 10px;
}
.cookie {
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  position: absolute;
  width: 30%;
  height: 45%;
  background-color: black;
  color: white;
  border-radius: 20px;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 0;
  margin: 20px;
  margin-bottom: -200px;
  padding: 20px;
  transition: all ease-in-out 0.3s;
}
.fa-cookie-bite {
  font-size: 3em;
  line-height: 0.03125em;
  vertical-align: -0.1875em;
}
.cookie p {
  margin: 50px 0 10px 0;
  font-size: large;
}
.fa-xmark {
  position: absolute;
  right: 0;
  top: 0;
  margin: 15px;
}
.fa-xmark:hover {
  cursor: pointer;
}
.cookie .mybtn {
  color: black;
  background-color: white;
  align-self: center;
  width: 85%;
  margin-bottom: 10%;
  border: none;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  transition: background-color ease-in-out 0.1s;
}
.mybtn:hover {
  background: #e3e1e1;
}
.lay{
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: #00000040;
  visibility: hidden;
}
