// add perspective to the parent of the card body
%cardBody {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

// use rotate Y to the back
%cardFace {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}
