* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}
.container {
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 370px;
  margin-top: 200px;
}
.dateheader {
  font-size: 22px;
  border: solid;
  display: flex;
  justify-content: space-between;
}
.dateheader p {
  padding: 12px;
}
.dateheader i {
  border-left: solid 3px;
  padding-left: 20px;
  color: black;
  font-size: 37px;
  padding: 10px;
}
.body {
  margin-top: 5px;
  border: solid black;
  height: 408px;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-auto-flow: row;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 85.2px repeat(5, 64.16px);
}
.month{
    grid-column:span 8 ;
    justify-self:center;
    font-size: larger;
    width: 100%;
    border-bottom: solid 2px;
}
.month p{
    margin-top: 5px;
    font-size: 22px;
    text-align: center;
}
.month p::after{
    content: "";
    width: 0px;
    position: absolute;
    height: 0px;
    background-color: transparent;
    border:solid 15px;
    margin-left: 25px;
    border-color: transparent transparent transparent black;
}
.month p::before{
    content: "";
    width: 0px;
    position: absolute;
    height: 0px;
    background-color: transparent;
    border:solid 15px;
    margin-left: -52px;
    border-color: transparent black transparent transparent;
}
 .month span{
    word-spacing: 32px;
    margin-right: 10px;
} 
.item{
    border: solid 1px black;
    width: 100%;
    margin-top:auto ;
    height: 64.16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

